body {
    color: #fff;
    background-color: rgb(25 25 25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    line-height: 1.2;
}

.backimg {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("https://image.ibb.co/gzOBup/showcase.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.flex-container {
    width: 300px;
    height: 370px;
    text-align: center;
    margin: 150px auto 150px;
    background-color: #333;
}

.flex-container .logo {
    width: 180px;
    height: 180px;
}

.inner-block {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.inner-block h1 {
    font-size: 35px;
}

.service {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 100%;
    background-color: rgb(25 25 25);
    text-align: center;
}

.section-block {
    width: 300px;
    height: 160px;
    padding: 20px;
    
}

.section-block i{
   font-size: 48px;
}


.about {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #fff;
}

.image-about {
    width: 200px;
    height: 160px;
    color: #333;
    margin-left: 100px;
    
}


.about-info {
    width: 470px;
    height: 165px;
    color: #333;
    margin-left: 150px;
}

.footer-info {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}